fastapi
uvicorn
gradio
pydantic
requests
python-multipart
torch>=2.2.0
bitsandbytes
diffusers>=0.29.0
transformers>=4.40.0
safetensors>=0.4.3
peft>=0.17.0
accelerate>=0.28.0
mmgp==3.2.7
rembg
opencv-python
einops
omegaconf

